<div class="title">Congratulations You're All Booked!</div>
<div id="sub_title"><%= @listing.name %></div> <br>
<div class="all_set">
  Total: $<%= @price %><br>
  Dates: <%=@check_in%> to <%= @check_out %>
</div>
