<h2><%= @user.name %></h2> <br>
<p>
  <ul>
    Properties:<% @user.listings.each do |listing| %><br>
    <li><%=link_to listing.name, listing %></li>
    <% end %>
  </ul>
</p>

<p>
  <% if current_user == @user %>
  <%= link_to "Add a listing", new_listing_path %></br>
  <%= link_to "Logout", logout_path, method: :delete %>
  <% end %>
 </p>
