<h2><%= @user.name %></h2> <br>

<p>
    <b>Properties:</b><% @user.listings.each do |listing| %><br><br>
    <%=link_to listing.name, listing %>
    <%= image_tag(listing.image_url(:thumb).to_s) %><br>
    <% end %>
</p>

<p>
  <% if current_user == @user %>
  <%= link_to "Add a listing", new_listing_path %></br><br>
  <% end %>
 </p>
