// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_booking{
  font-size: 25px;
}

#contact_owner a{
  text-decoration: none;
  color: #006699;
}

#contact_owner a:hover{
  color: black;
  font-weight: bold;
}

.all_set{
  font-size: 30px;
  margin-top: 20px;
}

#sub_title{
  margin-top: 50px;
  font-size: 30px;
}
