// Place all the styles related to the listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listings_container{
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.listing_card{
  width: 30%;
  margin: auto;
  height: 300px;
  margin-top: 20px;
  border-radius: 10px;
}

.listing_card_img{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 40%;
  // box-shadow: 10px 5px black;
  box-shadow:0 15px 14px -6px rgba(68, 68, 68, 0.6);
  border: 1px white solid;
}

.card_img{
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%
}

.listing_card_name{
  margin-top: 5%;
  font-size: 25px;
}

.listing_card_name a{
  text-decoration: none;
  color: #006699;
}

.listing_card_name a:hover{
  color: black;
  font-weight: bold;
}
