// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#loginheader{
  font-size: 35px;
}

#form{
  font-size: 25px;
}

#new_user{
  font-size: 20px;
  margin-top: 20px;
}

#danger{
  font-size: 20px;
  margin-bottom: 20px;
}
